* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.one {
  display: flex;
  flex-direction: row;
  height: 760px;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-image: url(./img/BC9.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding-top: 1.5%;
  padding-left: 20%;
  padding-right: 20%;
  height: 70px;
  width: 100%;
  position: fixed;
  background: linear-gradient(rgba(0, 0, 0, 0.822), rgba(0, 0, 0, 0));
}

.aba {
  color: white;
  font-weight: 300;
  font-size: 13px;
  font-family: "Quicksand", sans-serif;
}

.aba:hover {
  color: rgb(168, 55, 168);
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 13%;
  width: 40%;
}

.container > h1 {
  margin-bottom: 20px;
  letter-spacing: 12px;
  font-weight: 300;
  color: white;
  font-size: 55px;
  font-family: "Jura", sans-serif;
}

p {
  text-align: center;
  margin-top: 5px;
  font-weight: 300;
  color: white;
}

.container > a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  margin-top: 20px;
  border-radius: 12px;
  background: rgba(148, 87, 170, 0.171);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  font-weight: 600;
  font-size: 13px;
  color: white;
  height: 40px;
}

.container > a:hover {
  background: rgba(148, 87, 170, 0.533);
  transition: 0.5s ease;
}

.two {
  display: flex;
  flex-direction: row;
  height: 830px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
}

.two > p {
  color: black;
  margin-bottom: 20px;
  margin-top: 60px;
  font-weight: 500;
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 600px;
}

.options > button {
  height: 40px;
  border-radius: 12px;
  background-color: rgb(23, 23, 23);
  color: white;
  width: 250px;
}

.options > button:hover {
  background-color: rgb(69, 36, 114);
  transition: 0.3s ease;
}

.options > p {
  color: black;
  font-weight: 500;
}

.options > div {
  display: flex;
  flex-direction: row;
}

.options > div > input {
  border-radius: 10px 0 0 10px;
  height: 40px;
  width: 200px;
  padding: 8px;
}

.options > div > button {
  background-color: black;
  color: white;
  height: 40px;
  width: 50px;
  border-radius: 0 10px 10px 0;
}

.options > div > button:hover {
  background-color: rgb(69, 36, 114);
  transition: 0.3s ease;
}

.info {
  height: 600px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.473);
  margin-top: 30px;
}

.info > h2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.info > img {
  width: 400px;
}

.info > iframe {
  width: 400px;
  height: 270px;
}

.info > p {
  text-align: center;
  margin-top: 30px;
  font-weight: 400;
  color: black;
}

.three {
  display: flex;
  flex-direction: row;
  height: 760px;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: rgb(33, 33, 33);
  background-image: url(https://i.pinimg.com/originals/87/fe/b2/87feb2c8f96aac2fb045b0d4e35d5844.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.left {
  width: 40%;
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.048);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  padding: 30px;
  border-radius: 15px;
}

.left > p {
  text-align: left;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
}

.left > h1 {
  margin-bottom: 0px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
  font-family: "Jura", sans-serif;
}

.left > h3 {
  color: rgba(190, 89, 245, 0.522);
  font-family: "Jura", sans-serif;
}
.left > a {
  color: rgb(217, 155, 250);
  text-decoration: underline;
}

.right > img {
  height: 600px;
}

.four {
  display: flex;
  flex-direction: row;
  height: 760px;
  width: 100%;
  background-color: rgb(45, 45, 45);
  align-items: center;
  justify-content: center;
}

.box {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.827);
}

.photo {
  background-image: url(./img/BC10.gif);
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.contact > form {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.contact > form > input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  outline: 0;
  padding: 5px;
  background-color: transparent;
  width: 400px;
  border-bottom: 2px solid rgb(138, 138, 138);
}

.contact > form > .send {
  background-color: rgb(79, 62, 156);
  color: white;
  font-weight: 400;
  border-radius: 20px;
}

.contact > form > .send:hover {
  background-color: rgb(33, 22, 82);
  transition: 0.5s ease;
}

.contact > form > textarea {
  margin-top: 20px;
  margin-bottom: 10px;
  resize: none;
  width: 410px;
  border-radius: 12px;
  padding: 10px;
  border: 2px solid rgb(132, 132, 132);
  background-color: transparent;
  outline: 0;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  align-items: center;
  height: 50px;
}
