* {
  border: 0;
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.four {
  display: flex;
  flex-direction: row;
  height: 802px;
  width: 100%;
  background-color: rgb(45, 45, 45);
  align-items: center;
  justify-content: center;
}

.box {
  width: 80%;
  height: 80%;
  display: flex;
  flex-direction: row;
  box-shadow: 10px 10px 20px 5px rgba(0, 0, 0, 0.827);
}

.photo {
  background-image: url(../img/BC10.gif);
  height: 100%;
  width: 60%;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: rgb(236, 236, 236);
}

.contact > form {
  display: flex;
  width: 300px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
}

.contact > form > input {
  margin-bottom: 10px;
  margin-top: 10px;
  height: 40px;
  outline: 0;
  padding: 5px;
  background-color: transparent;
  width: 400px;
  border-bottom: 2px solid rgb(138, 138, 138);
}

.contact > form > .send {
  background-color: rgb(79, 62, 156);
  color: white;
  font-weight: 400;
  border-radius: 20px;
}

.contact > form > .send:hover {
  background-color: rgb(33, 22, 82);
  transition: 0.5s ease;
}

.contact > form > textarea {
  margin-top: 20px;
  margin-bottom: 10px;
  resize: none;
  width: 410px;
  border-radius: 12px;
  padding: 10px;
  border: 2px solid rgb(132, 132, 132);
  background-color: transparent;
  outline: 0;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  width: 200px;
  align-items: center;
  height: 50px;
}
